#footer{
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

.Footer a{
    color: white ;
}
.navbar-brand{
    margin-right: 0;
}
.navbar-brand figure{
    margin-bottom: 0;
}
.navbar-brand figure img{
    width: 80px;
    align-content: center;
}
.text-platzi{
    color: white !important;
    background-color: #97c93e !important;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
}

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel{
    position: relative;
}

#carousel .overlay{
    z-index: 1;
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

#carousel .overlay .container, #carousel .overlay .row{
height: 100%;
}

/* .linkOrador{
    border: 1px solid white;
    padding: 0.5em;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    transition: all  0.3s;
    margin-right: 0.5em;
}
.linkOrador:hover{
    text-decoration: none;
    color: #97c93e;
}
.linkComprar{
    background-color: #97c93e;
    padding: 0.5em;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    transition: all  0.3s;
}
.linkComprar:hover{
    text-decoration: none;
    color: white;
}      */

.btn-platzi{
    background-color: #97c93e;
    color: white;
}

.btn-platzi:hover{
    background-color: #82ad36;
    color: white;
}

#place-time{
    background-color: #343a40;
    color: white;
}
#place-time img{
    max-width: 100%;
}