#footer{
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}
.Footer a{
    color: white;
}
.navbar-brand{
    margin-right: 0;
}
.navbar-brand figure{
    margin-bottom: 0;
}
.navbar-brand figure img{
    width: 80px;
    align-content: center;
}
.text-platzi{
    color: white !important;
    background-color: #97c93e !important;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}